<div class="question">
  <h1><%= @question %></h1>
  <h2>-You</h2>
</div>
<div class="answer">
  <h1><%= @answer %></h1>
  <h2>-Coach</h2>
</div>

<p class="a">
<%= link_to "ask a new question", ask_path %>
</p>
