// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary: #337ab7;
$gray: #dddddd;
$white: #fffee1;

.button {
  background-color: $primary;
}

.question {
  border-left: 5px solid $gray;
  padding-left: 20px;
}

.answer {
  border-left: 5px solid $gray;
  padding-left: 20px;
  background-color: $white;
}

.a {
  text-decoration: none;
}
